<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33224621527-pt45k8uloahk43b1jamrn794j95n0i5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33224621527-pt45k8uloahk43b1jamrn794j95n0i5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDfXTndQbnHzJE5bcAyyVWwYO-sOy5v97w</string>
	<key>GCM_SENDER_ID</key>
	<string>33224621527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookListSample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-1ef68</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-1ef68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33224621527:ios:a9e68051a46ecb6b38df92</string>
</dict>
</plist>